* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 
    #070808
    ;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.Main-Title h1 {
    text-align: center;
    padding: 0.8rem;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #52a535;
    border-radius: 25px;
    font-size: 35px;
    color: #FFFFFF;
    padding: 1rem;
}

.section-title {
    text-align: center;
    font-size: 35px;
    color: #FFFFFF;
    padding: 1rem;
}

.top-line {
    width: 100%;
}

.section-title-description {
    text-align: center;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 35px;
}

.List-of-jobs {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.List-of-jobs > section {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.List-of-jobs > section > * {
    border-radius: 25px;
    width: 50%;
    color: #FFFFFF;
    border: none;
    text-align: center;
    padding: 1rem;
    font-size: 30px;
}

.List-of-jobs > section > button:hover {
    background-color: #3C8527;
    color: #FFFFFF;
}

.Calc-Title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.form1 {
    padding-top: 1rem;
    color: #FFFFFF;
}

table { 
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #393d40;
}

.Register-Title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.Check-register {
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    padding-top: 1rem;
}

.register {
    color: #FFFFFF;
}
